.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to right, rgba($color: black, $alpha: 0) , rgba($color: black, $alpha: .5));
    bottom: 0;
    img {
        max-height: 4vh;
        width: auto;
        margin: .2rem;
    }
}